.header__text {
    text-transform: uppercase;
    color: white;
    font-size: 33px;
}
.header__container {
    margin-top: 90px;
    width: 50%;
    margin-bottom:80px;
}

.curved__footer {
    width: 60%;
    height: 120px;
    background-color: white;
    position: absolute;
    right: 0;
    bottom:0;
}