.homepage__navs_container ul {
    list-style-type: none;

}
.homepage__navs_container li {
    float: left;
}
.homepage__navs_container button {
    outline: none;  
    border-radius: 4px;
    color: white;
    padding: 10px 28px;  
    border: 1px solid white;
    background-color: transparent;
}

.homepage__icon--download {
    padding-right: 10px;
    color: white;
}
.homepage__icon--download button {
    color: white;
}

.homepage__icon--download--search {
    color: white;
}
.homepage__image__logo {
    width: 50px;
    height: 50px;
}
.logo__item {
    padding-right: 2%;
}
.home__item {
    padding-left: 2%;
}
.logo__item--download {
    padding-top: 10px;
    padding-right: 2%;
}
.logo__item--header {
    padding-left: 10%;
    padding-right: 10%;
    
}
.logo__item--header button {
    border: none;
    font-size: 39px;
    color: lime;
}
.logo__item--signup {
    padding-top: 10px;
    margin: 0 2%;
}
.logo__item--signup button {
    color: white;
}
.logo__item--login {
    padding-top: 10px;
}
.logo__item--login button {
    color: #012b3f;
    background-color: white;
}
button .button1 {
    padding: 5px, 10px;
}
.divider {
    padding-top: 30px;
    padding-bottom: 10px;
    position: absolute;
    top: 75px;
    text-transform: capitalize;
    color: white;
    font-size: 12px;
    width: 81%;
    margin-left: 9%;
    margin-right: 9%;
    border-top: 1px solid rgba( 253, 254, 255, 0.6);
    border-bottom: 1px solid white;
}

.divider ul {
    list-style-type: none;
}
.divider li {
    float: left;
    padding-right: 2%;
}

.homebackground {
    background-image: url(tower.jpg);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}